# Arhat Shah Assignment 3

### Question 1

In [1]:
import numpy as np

# Load the data set
data = np.loadtxt('exam_grades.csv', delimiter=',', skiprows = 1) 

# How many observations and columns are in the data set?
data_shape = data.shape
print("There are {} observations and {} columns in the data set.".format(data_shape[0], data_shape[1]))

# What is the minimum and maximum overall course grade
max_grade = np.max(data[:,4])
min_grade = np.min(data[:,4])
print("The maximum overall course grade is {} and the minimum overall course grade is grade is {}.".
      format(max_grade, min_grade))

# What time period does the data set cover?
print("The data covers the following years:")
for i in range(data.shape[0]):
    year = int(data[i,0])
    if (year != data[i-1,0]):
        print(year)

# For each year that you identified above, count the number of students who took the course each year.
for i in range(data.shape[0]):
    year = int(data[i,0])
    if (year != data[i-1,0]):
        print("In {}, {} students took the course.".format(year, sum(data[:,0] == year)))

# For each year that you identified above 
# calculate the minimum, maximum, mean and standard deviation for each of the three exam scores
# split the data into yearly data sets
data_2000 = data[data[:,0] == 2000]
data_2001 = data[data[:,0] == 2001]
data_2002 = data[data[:,0] == 2002]
data_2003 = data[data[:,0] == 2003]

exams_2000_data = [[np.min(data_2000[:,1]), np.max(data_2000[:,1]), np.mean(data_2000[:,1]), np.std(data_2000[:,1])],
                   [np.min(data_2000[:,2]), np.max(data_2000[:,2]), np.mean(data_2000[:,2]), np.std(data_2000[:,2])],
                   [np.min(data_2000[:,3]), np.max(data_2000[:,3]), np.mean(data_2000[:,3]), np.std(data_2000[:,3])]]

exams_2001_data = [[np.min(data_2001[:,1]), np.max(data_2001[:,1]), np.mean(data_2001[:,1]), np.std(data_2001[:,1])],
                   [np.min(data_2001[:,2]), np.max(data_2001[:,2]), np.mean(data_2001[:,2]), np.std(data_2001[:,2])],
                   [np.min(data_2001[:,3]), np.max(data_2001[:,3]), np.mean(data_2001[:,3]), np.std(data_2001[:,3])]]

exams_2002_data = [[np.min(data_2002[:,1]), np.max(data_2002[:,1]), np.mean(data_2002[:,1]), np.std(data_2002[:,1])],
                   [np.min(data_2002[:,2]), np.max(data_2002[:,2]), np.mean(data_2002[:,2]), np.std(data_2002[:,2])],
                   [np.min(data_2002[:,3]), np.max(data_2002[:,3]), np.mean(data_2002[:,3]), np.std(data_2002[:,3])]]

exams_2003_data = [[np.min(data_2003[:,1]), np.max(data_2003[:,1]), np.mean(data_2003[:,1]), np.std(data_2003[:,1])],
                   [np.min(data_2003[:,2]), np.max(data_2003[:,2]), np.mean(data_2003[:,2]), np.std(data_2003[:,2])],
                   [np.min(data_2003[:,3]), np.max(data_2003[:,3]), np.mean(data_2003[:,3]), np.std(data_2003[:,3])]]

print("Exam 1 data 2000: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2000_data[0][0], exams_2000_data[0][1], exams_2000_data[0][2], exams_2000_data[0][3]))
print("Exam 2 data 2000: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2000_data[1][0], exams_2000_data[1][1], exams_2000_data[1][2], exams_2000_data[1][3]))
print("Exam 3 data 2000: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2000_data[2][0], exams_2000_data[2][1], exams_2000_data[2][2], exams_2000_data[2][3]))
print("\n")
print("Exam 1 data 2001: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2001_data[0][0], exams_2001_data[0][1], exams_2001_data[0][2], exams_2001_data[0][3]))
print("Exam 2 data 2001: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2001_data[1][0], exams_2001_data[1][1], exams_2001_data[1][2], exams_2001_data[1][3]))
print("Exam 3 data 2001: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2001_data[2][0], exams_2001_data[2][1], exams_2001_data[2][2], exams_2001_data[2][3]))
print("\n")
print("Exam 1 data 2002: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2002_data[0][0], exams_2002_data[0][1], exams_2002_data[0][2], exams_2002_data[0][3]))
print("Exam 2 data 2002: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2002_data[1][0], exams_2002_data[1][1], exams_2002_data[1][2], exams_2002_data[1][3]))
print("Exam 3 data 2002: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2002_data[2][0], exams_2002_data[2][1], exams_2002_data[2][2], exams_2002_data[2][3]))
print("\n")
print("Exam 1 data 2003: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2003_data[0][0], exams_2003_data[0][1], exams_2003_data[0][2], exams_2003_data[0][3]))
print("Exam 2 data 2003: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2003_data[1][0], exams_2003_data[1][1], exams_2003_data[1][2], exams_2003_data[1][3]))
print("Exam 3 data 2003: min = {}, max = {}, mean = {}, standard deviation = {}"
      .format(exams_2003_data[2][0], exams_2003_data[2][1], exams_2003_data[2][2], exams_2003_data[2][3]))

There are 233 observations and 5 columns in the data set.
The maximum overall course grade is 97.5667 and the minimum overall course grade is grade is 43.2733.
The data covers the following years:
2000
2001
2002
2003
In 2000, 86 students took the course.
In 2001, 75 students took the course.
In 2002, 36 students took the course.
In 2003, 36 students took the course.
Exam 1 data 2000: min = 46.5, max = 96.0, mean = 74.48572906976743, standard deviation = 11.394237808614985
Exam 2 data 2000: min = 41.0, max = 99.5, mean = 74.18604651162791, standard deviation = 13.023915058065189
Exam 3 data 2000: min = 28.0, max = 97.0, mean = 73.23255813953489, standard deviation = 15.704128044624722


Exam 1 data 2001: min = 58.0, max = 98.0, mean = 85.00566666666667, standard deviation = 8.365881676322122
Exam 2 data 2001: min = 41.5, max = 96.5, mean = 71.36133333333332, standard deviation = 13.2655834733678
Exam 3 data 2001: min = 36.4, max = 98.5, mean = 72.74133333333334, standard deviation = 13.193443759012363


Exam 1 data 2002: min = 59.0, max = 99.3, mean = 82.11666666666667, standard deviation = 9.800382645590936
Exam 2 data 2002: min = 47.0, max = 98.0, mean = 76.26944444444445, standard deviation = 13.774913176666173
Exam 3 data 2002: min = 58.0, max = 98.5, mean = 84.92222222222223, standard deviation = 7.7870658827140025


Exam 1 data 2003: min = 0.0, max = 98.2143, mean = 83.34325833333332, standard deviation = 16.585723842968335
Exam 2 data 2003: min = 38.0, max = 94.5, mean = 67.75833333333333, standard deviation = 14.682990442458694
Exam 3 data 2003: min = 30.0, max = 98.8889, mean = 77.10956388888889, standard deviation = 16.184537776500562

### Question 2

- Numpy requires all elements to be of the same data type, while python lists can have different data types
- Numpy can perform operations to elements of the list, while lists append/concatenate/duplicates
- both have built in methods

In [23]:
#numpy array
array = np.arange(1,6)

#python list
list = [1, 2, 3, 4, 5]

#multiply each "list" by 2
array_2x = array * 2 
print("array 2x: ", array_2x)


list_2x = list * 2
print("list 2x: ", list_2x)

array 2x:  [ 2  4  6  8 10]
list 2x:  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]